---
import { IconOpenInNew } from "../../components/Icons";
import NavDirectional from "../../components/NavDirectional.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { sortByPostDate } from "../../utils";
import BtnBack from "../../components/BtnBack.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return sortByPostDate(posts).map((post, i) => ({
    params: { id: post.id, category: post.data.category },
    props: {
      post,
      prevItem:
        posts[i - 1]?.data.category == post.data.category ? posts[i - 1] : null,
      nextItem:
        posts[i + 1]?.data.category == post.data.category ? posts[i + 1] : null,
    },
  }));
}

const { post, prevItem, nextItem } = Astro.props;
const { Content } = await render(post);
---

<Layout className="post-detail" title={post.data.title}>
  <header class="m-v-md-0">
    <h1 class="displaylarge">
      {post.data.title}
      {
        post.data.link && (
          <a href={post.data.link} target="_blank">
            <IconOpenInNew fill="var(--clr-on-surface)" />
          </a>
        )
      }
    </h1>
    <p class="bodymedium">
      {
        post.data.createdAt.toLocaleDateString("en-us", {
          weekday: "long",
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </p>
  </header>

  <Content />

  <NavDirectional {prevItem} {nextItem} category={post.data.category} />
</Layout>
