---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

import InfiniteGrid from "../components/InfiniteGrid.astro";

import TemplateTextOnlyBigHeading from "../components/TemplateTextOnlyBigHeading.astro";
import TemplateFullCoverOnly from "../components/TemplateFullCoverOnly.astro";
import TemplateComplete from "../components/TemplateComplete.astro";
import TemplateTextOnCover from "../components/TemplateTextOnCover.astro";
import { sortByPostDate } from "../utils";

const workPosts = await getCollection(
  "posts",
  (p) => p.data.published && p.data.pinned && p.data.category == "work"
);
const blogPosts = await getCollection(
  "posts",
  (p) => p.data.published && p.data.pinned && p.data.category == "blog"
);
---

<Layout title="Frontend Developer">
  <InfiniteGrid>
    <slot>
      <li data-sequence>
        <p class="headlinelarge" data-sequence-item>
          Hi, I’m Burak Kuyucaklı, Frontend Developer & UX Enthusiast.
        </p>
        <p class="headlinelarge" data-sequence-item>
          This is where I share my work, ideas, and the things I’m learning
          along the way.
        </p>

        <p class="headlinelarge" data-sequence-item>
          My <a
            href="https://github.com/kuyucakli"
            target="_blank"
            class="txt-underline">github</a
          > and <a
            class="txt-underline"
            href="https://www.linkedin.com/in/burak-kuyucakl%C4%B1/"
            target="_blank">linkedin</a
          > account.
        </p>
        <p class="headlinelarge" data-sequence-item>Yeps works</p>
        <p class="headlinelarge" data-sequence-item>Ops</p>
        <p class="headlinelarge" data-sequence-item>Enough</p>
      </li>

      <li class="infinity-grid-intro-section flex-col-center p-h-md-1">
        <h1 class="displaylarge">Pinned Works</h1>
      </li>

      {
        sortByPostDate(workPosts).map((d) => {
          if (d.data.excerptTemplate == "text-only-big-heading") {
            return <TemplateTextOnlyBigHeading id={d.id} data={d.data} />;
          }
          if (d.data.excerptTemplate == "full-cover-only") {
            return <TemplateFullCoverOnly id={d.id} data={d.data} />;
          }
          if (d.data.excerptTemplate == "text-on-cover") {
            return <TemplateTextOnCover id={d.id} data={d.data} />;
          }
          return <TemplateComplete id={d.id} data={d.data} />;
        })
      }

      <li class="infinity-grid-intro-section flex-col-center p-h-md-1">
        <h1 class="displaylarge">Pinned Blog Posts</h1>
      </li>

      {
        sortByPostDate(blogPosts).map((d) => {
          if (d.data.excerptTemplate == "text-only-big-heading") {
            return <TemplateTextOnlyBigHeading id={d.id} data={d.data} />;
          }
          if (d.data.excerptTemplate == "full-cover-only") {
            return <TemplateFullCoverOnly id={d.id} data={d.data} />;
          }
          if (d.data.excerptTemplate == "text-on-cover") {
            return <TemplateTextOnCover id={d.id} data={d.data} />;
          }
          return <TemplateComplete id={d.id} data={d.data} />;
        })
      }
    </slot>
  </InfiniteGrid>
</Layout>
