---
import { Image } from "astro:assets";
import { IconBackArrow } from "../../components/Icons";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import NavDirectional from "../../components/NavDirectional.astro";
import BtnBack from "../../components/BtnBack.astro";

export async function getStaticPaths() {
  const images = await getCollection("drawingImages");
  return images.map((image, i) => ({
    params: { id: image.id },
    props: {
      image,
      prevItem: images[i - 1],
      nextItem: images[i + 1],
    },
  }));
}

const { image, prevItem, nextItem } = Astro.props;
const { Content } = await render(image);
---

<Layout className="post-detail" title={image.data.altText}>
  <a href={image.data.file.src} target="_blank">
    <Image src={image.data.file} alt={image.data.altText} />
  </a>
  <header class="m-v-md-0">
    <h1 class="displaylarge">{image.data.altText}</h1>
    <p class="bodymedium">
      {
        image.data.createdAt.toLocaleDateString("en-us", {
          weekday: "long",
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </p>
  </header>

  <h2>
    {image.data.excerpt}
  </h2>

  <p>
    {image.data.description}
  </p>

  <Content />
  <NavDirectional {prevItem} {nextItem} />
</Layout>
